{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pousadas - Formulário</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body>
  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- SEÇÃO PRINCIPAL -->
    <section id="contact" class="">
        <div class="justify-content-center mt-4">
          <div class="container col-md-6">

            <div class="mt-2 mb-3 text-center">
              <h2>
                <span>
                  FORMULÁRIO
                </span>
              </h2>
            </div>

            <form action="." method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label>Nome</label>
                  {{ form.nome }}
                </div>

                <div class="col-md-12 mb-3">
                  <label>Descrição</label>
                  {{ form.descricao }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>Estado</label>
                  {{ form.estado }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>Cidade</label>
                  {{ form.cidade }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>Endereço</label>
                  {{ form.endereco }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>CEP</label>
                  {{ form.cep }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>Quartos</label>
                  {{ form.quartos }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>Banheiros</label>
                  {{ form.banheiros }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>Telefone</label>
                  {{ form.telefone }}
                </div>

                <div class="col-md-6 mb-3">
                  <label>E-mail</label>
                  {{ form.email }}
                </div>

                <div class="col-md-12 text-center mt-3">
                  <p class="fonte-label">Imagem</p>
                  {{ form.imagem }}
                </div>
              </div>
            </div>

              <div class="mt-5 mb-5 text-center">
                <button type="reset" class="btn btn-cancel"
                  onclick="location.href = '{% url 'pousadas:list' %}'">Cancelar</button>
                <button type="submit" class="btn btn-get-started">Salvar</button>
              </div>
            </form>
          </div>
    </section>
  </main>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

  <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>

  <script src="{% static 'assets/js/jquery.mask.min.js' %}"></script>

  <script src="{% static 'assets/js/mascara.js' %}"></script>
</body>

</html>